apiVersion: v2
appVersion: "1.0"
description: A Helm chart for juror-scheduler-api App
name: juror-scheduler-api
home: https://github.com/hmcts/juror-scheduler-api
version: 0.0.17
maintainers:
  - name: HMCTS juror team
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: postgresql
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: postgresql.enabled
