java:
  applicationPort: 8080
  image: 'sdshmctspublic.azurecr.io/juror/scheduler-api:latest'
  ingressHost: juror-scheduler-api.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: juror
  keyVaults:
    juror:
      secrets:      
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: scheduler-api-POSTGRES-HOST
          alias: DB_HOST
        - name: scheduler-api-POSTGRES-PORT
          alias: DB_PORT
        - name: scheduler-api-POSTGRES-DATABASE
          alias: DB_NAME
        - name: scheduler-api-POSTGRES-USER
          alias: DB_USER_NAME
        - name: scheduler-api-POSTGRES-PASS
          alias: DB_PASSWORD
        - name: scheduler-api-SECRET
          alias: SECRET  
        - name: scheduler-api-API-SECRET
          alias: JUROR_API_SERVICE_AUTHENTICATION_SECRET
        - name: scheduler-api-JOB-SECRET
          alias: API_JOB_EXECUTION_SERVICE_AUTHENTICATION_SECRET
  environment:
    POSTGRES_SSL_MODE: require